In [27]:
import glob

import os

import pandas as pd

from pathlib import Path

In [16]:
files = glob.glob("../**/*.txt")

In [40]:
def read_text(filename):
    with open(filename) as f:
        return f.read()
    
    
def get_target_filename(filename):
    path = Path(filename)
    directory = path.parent.name
    return os.path.join(".", directory, path.name)


def get_target_filename(filename):
    path = Path(filename)
    directory = path.parent.name
    return os.path.join(directory, path.name)


def file_exists(filename):    
    return os.path.isfile(filename)

In [41]:
data = []

for file in files:
    summ_file = get_target_filename(file)
    
    if file_exists(summ_file) and file_exists(file):    
        source_text = read_text(file)
        target_text = read_text(summ_file)

        data.append( (source_text, file, target_text, summ_file) )

In [43]:
df = pd.DataFrame(data, columns=["source_text", "source_filename", "target_text", "target_filename"])

df.shape

(412, 4)

In [44]:
df.head()

,source_text,source_filename,target_text,target_filename
0,Simaria investe pesado e compra restaurante n...,../entretenimento/28.txt,"Simaria, da dupla Simone e Simaria, comprou um...",entretenimento/28.txt
1,K-Pop: aespa faz primeira performance de “Blac...,../entretenimento/86.txt,"O grupo de K-Pop aespa, da SM Entertainment, f...",entretenimento/86.txt
2,"Samba, cachaça e piolhos em fã: Livro mostra r...",../entretenimento/56.txt,"O livro ""Jimmy Page no Brasil"", escrito por Le...",entretenimento/56.txt
3,Michel Teló surge na praia de máscara: “respir...,../entretenimento/49.txt,"Michel Teló, cantor sertanejo, compartilhou um...",entretenimento/49.txt
4,"\nAtor de Flor do Caribe, Jonas Mello morre ao...",../entretenimento/15.txt,"O ator Jonas Mello, conhecido por seu papel em...",entretenimento/15.txt